.logo{
    width: 50px;
    max-height: 50px;
    display: block;
    margin: auto; 
}
.nav{
    background-color: white;
}
.container{
    background-color: aqua;
    height: 80vh;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 2px black solid;
    overflow-y: auto;
    
}
.message{
    background-color: rgb(219, 219, 14,0.9);
    width: 50%;
    margin: 10px 10px ;
    padding: 5px 5px 5px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 5%;
}
.left{
    float: left;
    clear:both;
}
.right{
    float: right;
    clear: both;
}
.footer{
    position: fixed;
    bottom: 12%;
    background-color: white;
    height: 50px;
    width: 45%;
    margin-left: 2%;
}
.form{
    padding: 15px 15px;
}
.message h4{
    margin-top: -20px;
}
.message h5{
    align-items: center;
}
